@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "verdana", serif;
    font-weight: 400;
    font-style: normal;
    font-size:large;
}
strong, b{
    font-weight: 700;
}

html,body{
    margin: unset;
    padding: unset;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #0f0f0f 0%, #1a1a1a 100%);
}

#main-wrapper{
    width: 350px;
}

#app-title{
    color: #fff;
    text-shadow: 0px 3px 5px #3b3b3b;
    text-align: center;
    margin-bottom: 50px
}
#msg-txt-field{
    resize: none;
}
#send-btn-container{
    width: 70px;
}
#send-btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message-items-container{
    height:300px;
    overflow: auto;
    display: flex;
    flex-flow: column-reverse;
}
#message-items-container:empty{
    align-items: center;
    justify-content: center;
}
#message-items-container:empty::before{
    content:"conversation box is currently empty...";
    font-size: 11px;
    font-style: italic;
    align-self: center;
    color:#3f3f3f;
}

.message-item{
    max-width: 85%;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.message-item.received{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    align-self: start;
}
.message-item.sent{
    background-image: linear-gradient(120deg, #000000 0%, #000000 100%);
    align-self: end;
    color:#fff;
}
.message-item .sender-name{
    font-style: italic;
    font-size: 11px;
}
.message-item .message-content{
    font-size: 12px;
}

#send-btn{
    background-color: rgb(0, 0, 0);

}